*{
    box-sizing: border-box;
}

:root{
    --height:56px;
    --primary-heading-color:#000958;
    --primary-desc-color:#656689;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Sora", sans-serif;
}

input, textarea, select, button{
    font-size: inherit;
    font-family: inherit;
}

.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input, textarea, select, button{
    font-family: inherit;
    font-size: inherit;
}

/* Common */

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: var(--height);
    color: #000958;
    background: var(--primary-color);
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.section-heading{
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--primary-heading-color);
}

.section-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-desc-color);
}


.control{
    display: flex;
    column-gap: 18px;
}

.control__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline:none;
    color: #152427;
    background: #E2EDDF;
    transition: .25s;
}

.control__btn:hover{
    color: #FFFFFF;
    border-color: var(--primary-color);
    background: var(--primary-color);
    cursor: pointer;
}

/* Header */
.header{
    padding-top: 26px;
}

.logo__brand{
    margin-left: 10px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.6;
    color: var(--primary-heading-color);
}

/* Header menu */
.header__inner{
    position: relative;
    display: flex;
    align-items:center ;
    justify-content:space-between ;
}

.navbar__list{
    display: flex;
    margin-left: 229px;
}

.navbar__link{
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover,
.navbar__link--active{
    color: var(--primary-heading-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link{
    padding-right:15px ;
    font-weight: 500;
    font-size: 1.4rem;
    color: #5E6085;
}

.header-action__signup{
    --height:50px;

    margin-left: auto;
    min-width: 117px;
}

/* Hero */
.hero{
    margin-top: 100px;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
}

.hero__media{
    width: 52%;
}

.hero__media-content{
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #FFFFFF;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
    box-shadow: 11px 18px 65px 0px #FF9B791F;
}

.hero__img-wrap--small{
    position: absolute;
    left: 365px;
    bottom: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 186px;
    height: 244px;
    object-fit: cover;
    border: 2px solid #FFFFFFA6;
    border-radius: 16px;
    background: linear-gradient(205.64deg, #FAA7AD 4.68%, #E87F8A 98.09%);
    box-shadow: 8px 18px 36px -6px #EA949D2B;
    z-index: 1;
}

.hero__img-01{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__img-02{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor-01{
    position: absolute;
    left: 376px;    
    top: 16px;
    z-index: -1;
}

.hero__decor-02{
    position: absolute;
    bottom: 84px;
    left: -58px;
    z-index: -1;
}

.stat__group{
    position: absolute;
    bottom: 0px;
    left: 129px;
    width: 250px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
    background: #FFFFFF;
    padding: 18px 16px;
    z-index: 2;
}

.stat__item{
    display: flex;
    column-gap: 10px;
}

.stat__item:first-of-type{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 23px;
}

.stat__item:first-of-type::after{
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 222px;
    height: 2px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    background: rgb(51,58,121,0.08);
}

.stat__thumb{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
}

.stat__item:nth-of-type(2) .stat__thumb {
    background-color: #C6E2FA;
}

.stat__heading{
    font-family: Sora;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.line{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}

.stat__line--long{
    content: "";
    display: inline-block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: rgb(51,58,121,0.08);
}

.stat__line--short{
    margin-top: 6px;
    content: "";
    display: inline-block;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    background: rgb(51,58,121,0.08);
}

.hero__content{
    padding: 71px 0;
    width: 44%;
}

.hero__content-wrap{
    margin-right: auto;
}

.hero__heading{
    margin-bottom: 24px;
    font-family: Sora;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.5;
    color: #000958;
}

.hero__desc{
    margin-bottom: 38px;
}

.hero__cta{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__access{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    color: #FD5056;
}

.hero__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #FFFFFF;
    border: 1px solid #FD5056;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}

.hero__links{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--primary-heading-color);
}

/* About */
.about{
    margin-top: 77px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__content{
    width: 40%;
    padding: 77px 0;
}

.name__section{
    margin-bottom: 15px;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.about__heading{
    margin-bottom: 24px;
}

.about__desc{
    margin-bottom: 54px;
}

.about__group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.group__required{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.group__required::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 3px;
    box-shadow: 0px 4px 15px -3px #FF5D31B0;
    background: #FF5D31;
}

.about__media{
    position: relative;
    width: 55%;
}


.about__img-wrap{
    position: absolute;
    bottom: 0;
    right: 31px;
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img{
    position: absolute;
    right: 21px;
    bottom: 0;
    width: 450px;
    height: 602px;
    object-fit: cover;
}

.about__img--sub-desc{
    position: absolute;
    left: 12px;
    bottom: 238px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
}


.sub-desc--script .value{
    display: block;
    margin: 31px 0 14px 0;
    font-family: Sora;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.sub-desc--script{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42;
    text-align: center;
    color: #C6F4F9;
}

.sub-desc--icon{
    position: absolute;
    top: -40px;
    right: -32px;
}