*{
    box-sizing: border-box;
}

:root{
    --height:56px;
    --primary-heading-color:#000958;
    --primary-desc-color:#656689;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Sora", sans-serif;
}

input, textarea, select, button{
    font-size: inherit;
    font-family: inherit;
}

.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input, textarea, select, button{
    font-family: inherit;
    font-size: inherit;
}

/* Common */

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: var(--height);
    color: #000958;
    background: var(--primary-color);
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.section-heading{
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--primary-heading-color);
}

.section-desc{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: var(--primary-desc-color);
}


.control{
    display: flex;
    column-gap: 18px;
}

.control__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #FFD1C4;
    outline:none;
    color: #FF5B2E;
    background: transparent;
    transition: .25s;
}

.control__btn:hover{
    color: #FFFFFF;
    border-color: #FF5B2E;
    background: #FF5B2E;
    cursor: pointer;
}

/* Header */
.header{
    padding-top: 26px;
}

.logo__brand{
    margin-left: 10px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.6;
    color: var(--primary-heading-color);
}

/* Header menu */
.header__inner{
    position: relative;
    display: flex;
    align-items:center ;
    justify-content:space-between ;
}

.navbar__list{
    display: flex;
    margin-left: 229px;
}

.navbar__link{
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover,
.navbar__link--active{
    color: var(--primary-heading-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link{
    padding-right:15px ;
    font-weight: 500;
    font-size: 1.4rem;
    color: #5E6085;
}

.header-action__signup{
    --height:50px;

    margin-left: auto;
    min-width: 117px;
}

/* Hero */
.hero{
    margin-top: 100px;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
}

.hero__media{
    width: 52%;
}

.hero__media-content{
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #FFFFFF;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
    box-shadow: 11px 18px 65px 0px #FF9B791F;
}

.hero__img-wrap--small{
    position: absolute;
    left: 365px;
    bottom: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 186px;
    height: 244px;
    object-fit: cover;
    border: 2px solid #FFFFFFA6;
    border-radius: 16px;
    background: linear-gradient(205.64deg, #FAA7AD 4.68%, #E87F8A 98.09%);
    box-shadow: 8px 18px 36px -6px #EA949D2B;
    z-index: 1;
}

.hero__img-01{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__img-02{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor-01{
    position: absolute;
    left: 376px;    
    top: 16px;
    z-index: -1;
}

.hero__decor-02{
    position: absolute;
    bottom: 84px;
    left: -58px;
    z-index: -1;
}

.stat__group{
    position: absolute;
    bottom: 0px;
    left: 129px;
    width: 250px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
    background: #FFFFFF;
    padding: 18px 16px;
    z-index: 2;
}

.stat__item{
    display: flex;
    column-gap: 10px;
}

.stat__item:first-of-type{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 23px;
}

.stat__item:first-of-type::after{
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border: 2px solid #F2F2F2;
    border-radius: 99px;
    background: rgb(51,58,121,0.08);
}

.stat__thumb{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
}

.stat__item:nth-of-type(2) .stat__thumb {
    background-color: #C6E2FA;
}

.stat__heading{
    font-family: Sora;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.line{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}

.stat__line--long{
    content: "";
    display: inline-block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: rgb(51,58,121,0.08);
}

.stat__line--short{
    margin-top: 6px;
    content: "";
    display: inline-block;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    background: rgb(51,58,121,0.08);
}

.hero__content{
    padding: 70px 0;
    width: 44%;
}

.hero__content-wrap{
    margin-right: auto;
}

.hero__heading{
    margin-bottom: 24px;
    font-family: Sora;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.5;
    color: #000958;
}

.hero__desc{
    width: 391px;
    margin-bottom: 38px;
}

.hero__cta{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__access{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
    background: #FFFFFF;
    color: #FD5056;
}

.hero__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #FFFFFF;
    border: 1px solid #FD5056;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}

.hero__links{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--primary-heading-color);
}

/* About */
.about{
    margin-top: 77px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about__content{
    width: 40%;
    padding: 77px 0;
}

.name__section{
    margin-bottom: 15px;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.about__heading{
    margin-bottom: 24px;
}

.about__desc{
    margin-bottom: 54px;
}

.about__group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.group__required{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.required__check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 5px;
    box-shadow: 0px 4px 15px -3px #FF5D31B0;
    background: #FF5D31;
    color: #FFF2E5;
}

.required__content{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.about__media{
    position: relative;
    width: 55%;
}


.about__img-wrap{
    position: absolute;
    bottom: 0;
    right: 31px;
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img{
    position: absolute;
    right: 21px;
    bottom: 0;
    width: 450px;
    height: 602px;
    object-fit: cover;
}

.about__img--decor{
    position: absolute;
    top: -66px;
    right: -51px;
    z-index: -1;
}

.about__img--sub-desc{
    padding: 30px 26px;
    position: absolute;
    left: 12px;
    bottom: 238px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}


.sub-desc--script .value{
    display: block;
    padding-bottom: 14px;
    font-family: Sora;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.sub-desc--script{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42;
    color: #C6F4F9;
}

.sub-desc--icon{
    position: absolute;
    top: -40px;
    right: -32px;
}

/* Features */
.features{
    margin-top: 77px;
}

.features__inner{
    display: flex;
    column-gap: 95px;
}

.features__media{
    padding-top: 16px;
    width: 43%;
}

.features__content{
    padding-top: 52px;
    width: 57%;
}

.features__img-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features__thumb{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.decor__line--white{
    position: absolute;
    right: 64px;
    top: 13px;
}

.decor__line--caramel{
    position: absolute;
    top: -24px;
    right: 12px;
}

.decor__line--orange-warm{
    position: absolute;
    top: 33px;
    right: -21px;
}

.decor__triangle--blue{
    position: absolute;
    right: -40px;
    bottom: 206px;
}

.decor__triangle--white{
    position: absolute;
    bottom: 150px;
    right: 19px;
}

.decor__circle{
    position: absolute;
    bottom: -55px;
    right: -42px;
}

.features__heading{
    margin-bottom: 24px;
}

.features__desc{
    width: 511px;
    margin-bottom: 54px;
}

.features__list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 48px;
}

.features__list::after{
    position: absolute;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 95%;
    height: 2px;
    border-radius: 99px;
    background: rgba(255, 91, 46, 0.07);
}

.features__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;
}

.features__active::after {
    position: absolute;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 110px;
    height: 2px;
    border-radius: 99px;
    background: #FF5B2E;
}

.features__text{
    color: #48496A;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
}

.features__sub-desc{
    margin-bottom: 32px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.features__links{
    position: relative;
    color: #FF5D31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.features__links::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    display: inline-block;
    width: 86px;
    height: 1.5px;
    background: #FF5D31;
    border-color: #FF5D31;
    border-radius: 99px;
}

/* Services */
.services{
    margin-top: 130px;
    background: #FFF6ED;
}

.services__inner{
    padding: 65px 0 100px;
}

.services__top{
    text-align: center;
    margin-bottom: 70px;
}

.services__sub-desc{
    margin-bottom: 15px;
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services__column:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services__blog{
    padding: 30px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
    transition: all .25s ease;
}

.services__blog + .services__blog{
    margin-top: 24px;
}

.services__blog:hover{
    scale: 1.2;
    transform: translateY(-16px);
    cursor: pointer;
}

.services__blog--heading{
    margin-bottom: 18px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services__blog--heading::before{
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.services__blog--desc{
    width: 244px;
    height: 72px;
    font-size: 1.4rem;
    margin-bottom: 24px;
}

.services__blog--links{
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.blog__links--text{
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services__thumb-wrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 60px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.services__thumb{
    position: absolute;
    bottom: 0;
    left: -16px;
    right: 16px;
    max-width: 150%;
    object-fit: cover;
}


.services__btn{
    position: absolute;
    bottom: -20px;
    min-width: 214px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;
}

/* Member */
.member{
    margin-top: 130px;
}

.member__top{
    text-align: center;
}

.member__label{
    margin-bottom: 15px;
    color: #5E6085;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.member__bottom{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    text-align: center;
}

.member__item{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member__img-wrap{
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.member__img-wrap::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);  
}

.member__item:nth-child(2) .member__img-wrap::before{
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.member__item:nth-child(3) .member__img-wrap::before{
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.member__item:nth-child(4) .member__img-wrap::before{
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.member__img-wrap::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;;
    transform: translateX(-50%);
    width: calc(100% + 42px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.member__item:nth-child(1) .member__img-wrap::after{
    background-image: url(../icons/member_decor_01.svg);
}

.member__item:nth-child(2) .member__img-wrap::after{
    background-image: url(../icons/member_decor_02.svg);
    background-position: 0 25px;
}

.member__item:nth-child(3) .member__img-wrap::after{
    background-image: url(../icons/member_decor_03.svg);
}

.member__item:nth-child(4) .member__img-wrap::after{
    background-image: url(../icons/member_decor_04.svg);
    background-position: 0 25px;
}

.member__img{
    position: relative;
    display: block;
    max-width: 100%;
    height: 290px;
    border-radius: inherit;
    object-fit: cover;
    z-index: 1 ;
}

.member__position{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin: 30px 0 14px 0;
}

.member__name{
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.member__btn{
    min-width: 193px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Pricing */
.pricing{
    margin-top: 130px;
    background: #FFF6ED;
}

.pricing__inner{
    padding: 86px 0;
}

.pricing__top{
    text-align: center;
}

.pricing__heading{
    margin-bottom: 24px;
}

.pricing__desc{
    display: inline-block;
    width: 710px;
    margin-bottom: 38px;
}

.pricing__body{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pricing__btn__wrap{
    display: inline-flex;
    height: var(--height);
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__btn__decor{
    position: absolute;
    right: 30%;
    top: -12px;
}

.pricing__btn__1{
    outline: none;
    border: none;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__btn__2{
    min-width: 131px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: #FF5B2E;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__bottom{
    margin-top: 56px;
}

.pricing__list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 44px;
}

.pricing__card{
    padding: 44px 28px;
    width: 302px;
    border-radius: 20px;
    background: #FFF;
}

.pricing__card__level{
    display: block;
    margin-bottom: 8px;
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__card__name{
    display: block;
    margin-bottom: 24px;
    color: #3F4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__card__price{
    display: block;
    margin-bottom: 22px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
}

.pricing__card__btn{
    margin-bottom: 24px;
    min-width: 246px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all .25s ease;
}

.pricing__card__btn:hover{
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: #FF5B2E;
    color: #FFF;
}

.pricing__card__desc{
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.pricing__card__text{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

/* Testimonials */
.testimonials{
    margin-top: 55px;
}

.testimonials__inner{
    padding-top: 100px;
}

.testimonials__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review{
    display: flex;
    align-items: center;
    column-gap: 68px;
}

.review__thumb-wrap{
    position: relative;
    border-radius: 137px;
}

.review__thumb-wrap::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 70%;
    border-radius: inherit;
    background: #FFDA54;
}

.review__thumb{
    position: relative;
    display: block;
    max-width: 100%;
    height: 350px;
    border-radius: inherit;
    object-fit: cover;
    z-index: 1 ;
}

.review__heading{
    margin-bottom: 24px;
}

.review__desc{
    margin-bottom: 34px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.review__name{
    padding-left: 28px;
    position: relative;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review__name::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.testimonials__bottom{
    margin-top: 92px;
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E;
    cursor: pointer;
}

.dot__active{
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background: #FF5B2E;
}

/* Blog */
.blogs{
    margin-top: 130px;
}

.blogs__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs__desc{
    margin-bottom: 24px;
    width: 350px;
}

.blogs__btn{
    min-width: 182px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}

.blog__bottom{
    margin-top: 54px;
}

.blogs__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blogs__thumb-wrap{
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90CCFF;
}

.blogs__item:nth-child(2) .blogs__thumb-wrap{
    background: #FF997E;
}

.blogs__item:nth-child(3) .blogs__thumb-wrap{
    background: #5BD6E2;
}

.blogs__thumb{
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blogs__item--time{
    color: #FFF;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}

.blogs__item--info{
    margin-top: 28px;
}

.blogs__item--title{
    display: inline-block;
    margin-bottom: 16px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blogs__item--desc{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}